<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title class="">@ViewBag.Title</title>
</head>
<body>
    @RenderSection("Breadcrumb", required: false)

    <div>
        @RenderBody()
    </div>
</body>
</html>